<!DOCTYPE html>
<html>
<head>
<% include ../partials/head %>
</head>

<body>
<% include ../partials/nav %>
<div class="container-fluid">
<% include ../partials/houses %>
</div>
<% include ../partials/scripts %>
</body>
</html> 