<!DOCTYPE html>
<html>
<head>
<% include ../partials/head %>
</head>

<body>
<% include ../partials/nav %>
<div class="container-fluid">
<% include ../partials/student %>
</div>
</body>
<% include ../partials/scripts %>
</html> 