<div class="row">
         <% include ../partials/sidebar.ejs %>          
          
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Houses</h1>

          

          <!-- <h2 class="sub-header">Houses</h2> -->
          
          </div>
        </div>