<div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="/dashboard">Dashboard <span class="sr-only">(current)</span></a></li>
            <li><a href="/students">Students</a></li>
            <li><a href="/reports">Reports</a></li>
            <li><a href="/houses">Houses</a></li>
          </ul>