<div class="row">
        <% include ../partials/sidebar.ejs %>
          
          
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Students</h1>

          <div class="row">
            
            <div class="col-lg-4 col-sm-6 text-center">
                <a href="">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                
                <h3>Add a Student             
                </h3></a>
                
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>John Smith
                    <small>Muggle</small>
                </h3>
                <p>Godric Gryffindor</p>

            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>John Smith
                    <small>Muggle</small>
                </h3>
                <p>Godric Gryffindor</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>John Smith
                    <small>Muggle</small>
                </h3>
                <p>Godric Gryffindor</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>John Smith
                    <small>Muggle</small>
                </h3>
                <p>Godric Gryffindor</p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>John Smith
                    <small>Muggle</small>
                </h3>
                <p>Godric Gryffindor</p>
            </div>
        </div>

         
          
          </div>
        