<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
       <form action="/students/:id/:grade/:gid" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Grade</label>
                        <div class="col-xs-5">
                            <input type="text" class="form-control" name="grade" />
                            <input type="hidden" id="student_id" name="id">
                            <input type="hidden" id="gid" name="gid">
                            
                        </div>
                    </div>
                              
                    

                    <div class="form-group">
                        <div class="col-xs-5 col-xs-offset-3">
                            <button type="submit" id="submit" class="btn btn-primary">Save</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Discard</button>
                        </div>
                    </div>
                </form>
      </div>
      <!-- <div class="modal-footer"> -->
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a href="/" type="button" class="btn btn-primary">Save changes</button> -->
     <!--  </div> -->
    </div>
  </div>
</div>