<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
       <form id="loginForm" action="/students" method="post" class="form-horizontal">
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Name</label>
                        <div class="col-xs-5">
                            <input type="text" class="form-control" name="fullname" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Address</label>
                        <div class="col-xs-5">
                            <input type="text" class="form-control" name="address" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Type</label>
                        <div class="col-xs-5">
                            <select class="form-control" name="type">
                              <option selected="selected">Choose Type</option>
                              <option value="Muggle">Muggle</option>
                              <option value="Magical">Magical</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">House</label>
                        <div class="col-xs-5">
                            <select class="form-control" name="house">
                              <option selected="selected" >Choose House</option>
                              <option value="Godric Gryffindor">Godric Gryffindor</option>
                              <option value="Helga Hufflepuff">Helga Hufflepuff</option>
                              <option value="Rowena Ravenclaw">Rowena Ravenclaw</option>
                              <option value="Salazar Slytherin">Salazar Slytherin</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label"></label>
                        <div class="col-xs-5">
                            <select class="form-control" name="quid_player">
                              <option selected="selected">Quiddict Player?</option>
                              <option value="yes">Yes</option>
                              <option value="no">No</option>
                              
                            </select>
                        </div>
                    </div>
                    

                    <div class="form-group">
                        <div class="col-xs-5 col-xs-offset-3">
                            <button type="submit" id="submit" class="btn btn-primary">Add</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Discard</button>
                        </div>
                    </div>
                </form>
      </div>
      <!-- <div class="modal-footer"> -->
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a href="/" type="button" class="btn btn-primary">Save changes</button> -->
     <!--  </div> -->
    </div>
  </div>
</div>