<div class="row">
<% include ../partials/sidebar.ejs %>
</div> <!-- end row -->
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
  <h1 class="page-header"><%= student.name %>
    <small><%= student.type %></small> 
   <% if(student.tests.length < 8){%>
    <a href="#" 
       class="pull-right"
       data-toggle="modal"
       data-house= "<%= student.house %>" 
       data-type = "<%= student.type %>"
       data-id = "<%= student._id %>"
       data-test= "<%= student.tests.length %>"
       data-target="#edit_test">
     <small>Add Grade</small></a>
     <%}%>
  </h1>
  
  <div class="row"> 
   <table class="table table-striped">
      <thead>
        <tr class="text-center">
          <th>Year</th>
          <th>Test Name</th>
          <th>Description</th>
          <th>Grade</th>
          <th>Letter</th>
          <th>Absent</th>
          <th>Notes</th>
          <th>House Grades</th> 
          <th></th>
        </tr>
        </thead>
        <tbody>
        <% student.tests.forEach(function(test, index){%>
         <tr>
         <td><%=test.year %></td>
         <td><%=test.name %></td>
         <td><%=test.description %></td>
         <td><%=test.grade %></td>
         <td><%=test.letter %></td>
         <td><%=test.absent %></td>
         <td><%=test.notes %></td>
         <td><%=test.house_grade %></td>
         <td>
         <a href="#"
          data-toggle="modal"
          data-target="#edit_test"
          data-id="<%= student._id %>"
          data-gid="<%= test._id %>"
         >Edit</a></td>         
         </tr>
        <%});%>
        </tbody> 
  </table>
  </div>
  <% include ../partials/edit_test %>
</div>