<div class="row">
         <% include ../partials/sidebar.ejs %>
          
          
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Reports</h1>
         		
          			
                <table class="table table-striped">
                  <thead>
                    <tr>
                      <th class="text-center">Name</th>
                      <th colspan="2">Boils Cure</th>
                      <th colspan="2">Forgetfulness</th>
                      <th colspan="2">Poison Antidote</th>
                      <th colspan="2">Herbicide</th>
                      <th colspan="2">Wideye</th>
                      <th colspan="2">Wiggenweld</th>
                      <th colspan="2">Sleep. Draught</th>
                      <th colspan="2">Swelling</th>
                      <th  class="text-center">Final</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% students.forEach(function(student, index){%>
                    <tr class="text-center"><td><%= student.name %></td>
                      <% student.tests.forEach(function(test, index){%>
                      <td>
                      <a href="#" 
                      data-toggle="modal"
                      data-target="#myModal"
                      data-id="<%= student._id %>"
                      data-gid="<%= test._id %>"
                      >
                      <%= test.grade%> 
                      </a>                      
                      </td>
                      <td><%= test.letter%></td>
                      <% });%>
                      <td><%= final_grade[index] %></td>                      
                    <%});%> 
                    </tr>                 				
          		</tbody>
          </table>


			
          <!-- <h2 class="sub-header">Houses</h2> -->
          
          </div>
          <% include ../partials/edit_modal %>
        </div>