<div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li >
            <a href="/students">
            <i class="fa fa-users">	
            </i> Students <span class="sr-only">(current)</span></a></li>
            <!-- <li><a href="/students">Students</a></li> -->
            <li><a href="/reports"><i class="fa fa-file-text"></i> Reports</a></li>
            <li><a href="/dashboard"><i class="fa fa-home"></i> Houses</a></li>
          </ul>