<div class="row">
    <% include ../partials/sidebar.ejs %>
</div>
        
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Students</h1>
        <div class="row">  
        
        
             <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center"
                     src="img/add_logo.png" alt="">
               <button type="button" 
               class="btn btn-success btn-lg" 
               data-toggle="modal" 
               data-target="#myModal">
                    Add Student
                </button>
            </div>
            
                  
            
            <% if(students.length > 0){ %>

                <% students.forEach(function(student,index){%>

                    <div class="col-lg-4 col-sm-6 text-center">
                    <%if(student.type === "Muggle"){%>
                    <img class="img-circle img-responsive img-center" 
                    src="img/muggle.png" alt="">
                    <%} else{%>
                    <img class="img-circle img-responsive img-center" 
                        src="img/magic.png" alt="">
                    <%}%>
                    <a href='/profile?id=<%= student._id %>'>
                    <h3><%= student.name %></a>
                        <small><%= student.type %></small>
                    </h3>
                    <p><%= student.house %></p>
                    </div>
                <%});%>
            <% } else{ %>  
            
                <% } %>
        </div>
        <% include ../partials/modal %>
    </div>
        