<div class="modal fade" id="test_input" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
       <form id="loginForm" action="/students/:id/tests" method="post" class="form-horizontal">
                   
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Year</label>
                        <div class="col-xs-5">
                            <select class="form-control" name="year">
                              <option selected="selected">choose Year</option>
                              <option value="2015">2015</option>
                               <option value="2014">2014</option>
                            </select>
                        </div>
                    </div>

                   <div class="form-group">
                        <label class="col-xs-3 control-label">Test Name</label>
                        <div class="col-xs-5">
                            <select class="form-control" name="name">
                              <option selected="selected">Choose Name</option>
                              <option value="Boils Cure">Boils Cure</option>
                              <option value="Forgetfulness">Forgetfulness</option>
                              <option value="Poison Antidote">Poison Antidote</option>
                              <option value="Herbicide">Herbicide</option>
                              <option value="Wideye">Wideye</option>
                              <option value="Wiggenweld">Wiggenweld</option>
                              <option value="Sleep. Draught">Sleep. Draught</option>
                              <option value="Swelling">Swelling</option>

                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Description</label>
                        <div class="col-xs-5">
                            <textarea class="form-control" rows="3" name="description"
                            id="description">
                              
                            </textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Grade</label>
                        <div class="col-xs-2">
                            <input 
                            type="text" 
                            class="form-control" 
                            name="grade" 
                            id="grade"
                             />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-3 control-label">Letter Grade</label>
                        <div class="col-xs-2">
                            <p class="form-control-static" name="letterGrade"
                            id="letterGrade"></p>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-xs-3 control-label">absent</label>
                        <div class="col-xs-5">
                            <select class="form-control" name="absent">
                              <option selected="selected">Absent?</option>
                              <option value="yes">Yes</option>
                               <option value="no">No</option>
                            </select>
                        </div>
                    </div>
                      
                    <div class="form-group">
                        <label class="col-xs-3 control-label">Notes</label>
                        <div class="col-xs-5">
                            <textarea class="form-control" rows="3" name="notes"
                            id="notes">
                            </textarea>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label class="col-xs-3 control-label">House Grade</label>
                        <div class="col-xs-2">
                            <p class="form-control-static" id="houseGrade"></p>
                        </div>
                    </div>

                    <input type="hidden" id="id" name="id">
                    <input type="hidden" id="letterGrade" name="letterGrade">
                    <input type="hidden" id="housePoints" name="housePoints">

                    <div class="form-group">
                        <div class="col-xs-5 col-xs-offset-3">
                            <button type="submit" id="submit" class="btn btn-primary">Save</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Discard</button>
                        </div>
                    </div>
                </form>
      </div>
      <!-- <div class="modal-footer"> -->
        <!-- <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <a href="/" type="button" class="btn btn-primary">Save changes</button> -->
     <!--  </div> -->
    </div>
  </div>
</div>